html, body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Gloria Hallelujah", 'Times New Roman', Times, serif;
}

canvas {
  display: block;
}

html {
  scroll-behavior: smooth;
}

/*this font works*/
.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gloria Hallelujah";
  src: url(fonts/GloriaHallelujah-Regular.ttf);
}

/*standard text for font*/
.text {
  font-family: "Gloria Hallelujah", 'Times New Roman', Times, serif;
  text-decoration: none;
}

#logo {
  font-family: "Gloria Hallelujah", 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 150%;
}

a {
  color: white;
}

/*menu bar for naviagtion*/
nav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

nav .left a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
}

nav .right a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0.625rem;
}

nav a:hover {
  color: rgb(182, 182, 182);
  transition: color 0.3s ease-in-out;
}

/*p5.js sketch*/
#sketch {
  margin-top: 5rem;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1%;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#about-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

#about {
  padding: 20px;
  margin-left: 20px;
  width: 60%;
  font-family: "Gloria Hallelujah", 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 15px;
}

#bust {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

#bust img{
  width: 300px;
  height: auto;
  object-fit: cover;
  justify-content: center;
  text-align: center;
}

#social-links {
  width: 100%;
  height: 48px;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 0;
  margin-top: 15px;
}

#social-links img {
  transition: transform 0.3s, color 0.3s, opacity 0.3s;
  padding-left: 10px;
  padding-right: 10px;
}

#social-links img:hover {
  color: gray;
  transform: scale(1.2);
  opacity: 50%;
}

.divider {
  margin-top: 25px;
  height: 25px;
  background-color: lightgrey;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background: #f8f8f8;
  font-family: "Gloria Hallelujah", serif;
  line-height: 25px;
  color: white;
}

.mySwiper {
  max-width: 1500px;
  width: 100%;
  padding: 40px 0;
}

.container {
  margin: 0 40px;
  overflow: hidden;
}

.swiper-slide {
  overflow: hidden;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.swiper-slide .imageBox {
  height: 380px;
  width: 250px;
  background: black;
  flex-direction: column;
  border-radius: 25px;

}

.imageBox .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.imageBox .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 40px;
  margin-top: 53px;
}

.imageBox {
  text-align: center;
}

.card-info {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.imageBox .card-info h2 {
  font-size: 24px;
  font-weight: 600;
  /* cursor: text; */
  margin-bottom: 5px;
}

.imageBox .card-info p {
  font-size: 12px;
  /* cursor: text; */
}

.imageBox .card-info .btn {
  margin-top: 10px;
}

.imageBox .card-info .btn button {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.box .info .btn button:hover {
  background-color: gray;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  color: black;
}

.swiper-button-next::after {
  right: -15px;
}

.swiper-button-prev::after {
  left: -15px;
}

/* .swiper-pagination {
  width: 26px;
  height: 7px;
  border-radius: 25px;
  background: black;
} */

.row {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  float: left;
  flex: 3;
}

.right-column {
  float: left;
  flex: 1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
}

.card {
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .left-column, .right-column {
      width: 100%;
      padding: 0;
  }
}

#footer {
  text-align: center;
  background-color: black;
  padding: 25px;
  color: white;
}